BACKEND_API_URL=https://city-care-backend.vercel.app/api/v1
DEMO_ADMIN_EMAIL=admin@citycare.demo
DEMO_ADMIN_PASSWORD=
DEMO_CITIZEN_EMAIL=citizen@citycare.demo
DEMO_CITIZEN_PASSWORD=
DEMO_STAFF_EMAIL=staff@citycare.demo
DEMO_STAFF_PASSWORD=
